<%inherit file="base.htm" />

<%block name="content">
 
	<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="height:400px;">
      <div class="container">
        <h1></h1>
	
        <p></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row text-center">

        <div class="col-md-4">
        	<div>
        		<h2>View Catalog</h2>
		        <p>This catalog tracks assets and displays information about each item</p>
		        <p><a class="btn btn-default" href="/catalog/" role="button">View Catalog</a></p>
        	</div>
        </div>

        <div class="col-md-4">
          <h2>Add to Catalog</h2>
          <p>Add an asset to the catalog</p>
          <p><a class="btn btn-default" href="/catalog.create/" role="button">Add Asset</a></p>
       </div>

        <div class="col-md-4">
          <h2>Help & Support</h2>
          <p>Click here for a good time getting help and support</p>
          <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" role="button">View details </a></p>
        </div>
      </div>
    </div> <!-- /container -->

     

</%block>
