<%inherit file="base.htm" />

<%block name="content">
	<div class="row">
	  <div class="col-md-4">
	  	<a href="/manufacturer.create/" class="pull-right btn btn-primary">Add New</a>
	  	<a href="/catalog/" class="pull-right btn btn-success">Catalog</a>
	  </div>
	  <div class="col-md-4">
		<table class="table table-hover">
		  <tr>
			<th></th>
		 	<th>Maintainence Note</th>
		  </tr>
	        %for a in manufacturer:
	        <tbody>
	          <tr>
	           <td class="asset_code"><a href="/manufacturer.edit/${a.id}">${ a.id }</a></td>
	           <td>${ a.name }</td>
	          </tr>
	        %endfor
	    </table>
	  </div>
	</div>
</%block>